# Python
__pycache__/
*.py[cod]
*.egg-info/
.env

# Jupyter
.ipynb_checkpoints/

# Keras / TensorFlow saved formats
*.keras
*.h5
connect_four_savedmodel/

# Zip files (no need to version these)
*.zip

# OS files
.DS_Store
Thumbs.db
desktop.ini

# Editor folders
.vscode/
.idea/
